@model Dados.User

@{
    ViewBag.Title = "Login";
}

@section Scripts
{
    @Scripts.Render("~/bundles/loginScript")
}

<form class="form-horizontal">
    <fieldset>
        <legend>Login</legend>
        <div class="row col-md-10">
            <div class="form-group">
                <label for="inputUsername" class="col-md-2 control-label">Username</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                </div>
            </div>
        </div>
        <div class="row col-md-10">
            <div class="form-group">
                <label for="inputPassword" class="col-md-2 control-label">Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="row col-md-10">
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-primary" id="Login">Submit</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
