@model System.Collections.Generic.List<Dados.BlogPost>
@*@model IEnumerable<MvcDemo.Models.BlogPostModel>*@

@{
    ViewBag.Title = "Blog Posts";
}

@foreach (var item in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayFor(dadosItem => item.Title)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(dadosItem => item.Post)
        </div>
    </div>
}